body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    border-radius: 10px;
    flex-direction: column;
    
}

button {
background-color: #c59ab2;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
    background-color: #ecdfdf;
}

footer {
    background-color: #292121;
    color: #fff;
    padding: 60px;
    text-align: center;
}

@media(max-width:900px) {
    h1,
    h2,
    h3,
    h4 {
    text-align: center;
    }
}

@media(min-width:900px) {
    
}